
      /* font */
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo+Play:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@font-face {
      font-family: aksara;     src:url("/static/nykNgayogyanNew.woff2");
}
    /* font */


body{
min-height:2000px;
font-family: "Montserrat", sans-serif; background-image:url("/static/img/page-cover.png");
background-repeat: repeat;
}

/* navigation */
.navbar-brand{
  font-family: "Philosopher", sans-serif;
  font-weight:600;
 }

 .aksara{
     font-family: aksara, serif;
     /* font-size: 1rem;*/
     font-variant-ligatures: normal;
    font-feature-settings: "liga" on, "clig" on, "ccmp" on;
    -webkit-font-feature-settings: "liga" on, "clig" on, "ccmp" on;
    text-rendering: optimizeLegibility;
 }


.arabic{
     font-family: "Cairo Play", sans-serif;
 }

/* Styling Link Utama */
.nav-pill-custom {
    display: flex;
    align-items: center;
    gap: 8px; /* Jarak antara ikon dan teks */
    padding: 8px 20px !important;
    border-radius: 10px; /* Membuat bentuk lonjong/pill */
    transition: all 0.3s ease;
    color: #555 !important; /* Warna teks default */
    font-weight: 500;
}

/* Efek saat Hover */
.nav-pill-custom:hover {
    background-color: rgba(197, 160, 89, 0.5); /* Biru sangat muda */
    color: #555 !important; /* Warna biru Bootstrap */
}

/* Efek saat Aktif (Halaman yang sedang dibuka) */
.nav-pill-custom.active {
    background-color: rgba(197, 160, 89, 0.5) !important;
    color: #555 !important;
}

/* Styling Ikon agar lebih presisi */
.nav-pill-custom i {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.navbar  {
      transition: all 0.3s ease;
      background-color: transparent;
      box-shadow: none;
      color:#fff;
    }

    /* Navbar setelah discroll */
    .navbar.scrolled {
      background: rgba(255, 255, 255, 0.12);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      padding: 8px 0;
      box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.15);
      /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    }

 .btn-back-to-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background: rgba(220, 225, 230, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #0F3222;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1050;
  
  /* Animasi Transisi Sederhana (Fade In/Out diatur oleh jQuery) */
  display: none; /* Default disembunyikan */
  transition: transform 0.3s ease, background 0.3s ease;
}

.btn-back-to-top:hover {
  background: rgba(200, 205, 210, 0.8);
  color: #0F3222;
  transform: translateY(-4px);
}

.btn-back-to-top:active {
  transform: scale(0.95) translateY(-2px);
}

/* navigation */
/* container */
.image-container {
    /* margin-top: -100px;
    min-width: 360px; */
    min-height: 150px;
    border-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1707209856575-a80b9dff5524?fm=jpg&q=60&w=3000&auto=format&fit=crop");
    background-size: cover;
    background-position: bottom right;
            background-color: #fafafa;
            box-shadow: 0 10px 30px rgba(0,0,0,0.1);
            padding: 20px;
}
/* container */

  /* CSS untuk membekukan kolom pertama */
  .sticky-col {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white !important; /* Agar tidak transparan saat ditumpuk */
    border-radius: 5px;
    /*padding:10px 15px !important; */
  }


  .sticky-col.hari{
      padding:10px 15px !important;
  }

  /* Opsional: Tambahkan bayangan agar terlihat terpisah saat di-scroll */
  .sticky-col::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    box-shadow: inset -1px 0 2px rgba(0,0,0,0.1);
  }

  /* Mewarnai semua sel data */
td {
  background-color: #f2f2f2; /* Abu-abu muda */
}

/* Styling utama untuk sel mirip gambar */
  .calendar-cell {
    border: 1px solid #e0e0e0 !important;
    /* Warna border abu-abu muda */
    border-radius: 5px;       /* Sudut membulat */
    padding: 5px !important;
    background-color: #fff;
    transition: all 0.2s ease;
  }

  .calendar-cell.today {
    font-weight: bold;
    border: 1px solid #ecbe4a !important;
    /* Warna border abu-abu muda */
    background-color: rgba(197, 160, 89, 0.5);
    transition: all 0.2s ease;
  }

  /* Menghilangkan border default table agar tidak double */
  .table-custom {
    border-collapse: separate;
    border-spacing: 3px; /* Memberi jarak antar kotak/sel */
  }

  .table-custom td, .table-custom th {
    border: none;
    padding: 0; /* Padding diatur di .calendar-cell */
  }

/* Mewarnai sel tertentu menggunakan class */
  .hari{
     font-family: "Montserrat", sans-serif;
  }
  .hari-jawa{
      font-family: 'Rajdhani', sans-serif;
  }
  .hari-arab{
      font-family: "Cairo Play", sans-serif;
      font-style: normal;
  font-variation-settings:
    "slnt" 3;
  }
  .date-num {
        font-family: "Philosopher", sans-serif;
        font-size: 1.8rem;
        font-weight:600;
        text-align: center;
         display: block;
        }
        .pasaran {
        font-size: 0.75rem;
        color: #6c757d;
        display: block;
        text-align: center;
        }
        .hijri-num {
         font-family: "Amiri", serif;
         color: #6c757d;
         font-size: 0.8rem;
         font-weight: 700;
        }

         /* .bg-header-calendar{
             background: url('https://lh3.googleusercontent.com/d/1rAryIfNbGNWbaxKXgCpc1ZH_UrGD92UA=w800?authuser=1') left top / 25% no-repeat, url('https://lh3.googleusercontent.com/d/19omYQ9-yutMNjyaQ85c5X-3EauVBJ8S-=w800?authuser=1') right top / 25% no-repeat, #ecbe4a;
         } */
/* detail tanggal */
.list-group .list-group-item i{
    /* Mengatur latar belakang dengan gradasi linear */
  background: linear-gradient(45deg, #00d2ff, #3a7bd5, #7058ff);
  /* Teknik agar gradasi hanya muncul pada teks/ikon (masking) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Opsional: Menyesuaikan ukuran jika itu sebuah ikon */
  font-size: 10px;
  display: inline-block;
}

.list-group-item {
  background-color: transparent;
}

.nm-block-head {
   border-bottom: 1px solid #eee;
   margin: 10px 0;
   position: relative;
}

.nm-block-title {
   font-family: 'Rajdhani', sans-serif;
   font-size: 1rem;
   font-weight: 800;
   margin: 0;
   padding-bottom: 5px;
   display: inline-block;
   border-bottom: 3px solid #ff6b00;
   margin-bottom: -1px;
   letter-spacing: 0.5px;
}

.pattern-square-1 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 390px;
    /* background: #F2E5CC; */
    background: rgba(243, 235, 205, 0.38);
}

.heading-section {
    margin-bottom: 2.5rem;
}

.heading-section .txt .subheading {
    font-weight: 400;
    color: #FFFFFF;
}

.heading-section .txt .heading {
    font-family: 'Rajdhani', sans-serif;
    color: #184D47;
}
.heading-section .subheading {
   /* font-family: 'Rajdhani', sans-serif;*/
    color: #184D47 !important;
    margin-bottom: 0.625rem;
}

.heading-section .subheading .arabic-2{
    font-family: "Amiri", serif;
    color: #184D47 !important;
    margin-bottom: 0.625rem;
}
.section-subheading {
    /* font-family: 'Rajdhani', sans-serif; */
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.02rem;
    color: #184D47 !important;
}

.nm-glow-card {
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 156, 72, 0.05);
    transition: transform 0.3s ease;
}

.nm-glow-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: linear-gradient(90deg, #1b3a7c, #1d8757);
}

.search-container {
    max-width: 500px;
    margin: 0 auto;
}

        /* Styling Input Group */
        .custom-search-group {
            display: flex;
            gap: 12px; /* Jarak antara input dan tombol */
        }

        /* Styling Input Field */
        .search-input-wrapper {
            position: relative;
            flex-grow: 1;
        }

        .search-input-wrapper i {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: #9e9e9e;
            font-size: 1.2rem;
        }

        .custom-input {
            height: 60px;
            padding-left: 55px !important;
            border-radius: 20px !important; /* Sangat bulat */
            border: 1px solid #eee !important;
            box-shadow: 0 4px 15px rgba(0,0,0,0.05);
            font-size: 1rem;
            color: #6c757d;
        }

        .custom-input:focus {
            box-shadow: 0 4px 20px rgba(0,0,0,0.1);
            border-color: #ddd !important;
            outline: none;
        }

        /* Styling Tombol Filter */
        .btn-filter {
            width: 60px;
            height: 60px;
            background-color: #c5a059;
            border: none;
            border-radius: 18px; /* Sudut membulat kotak */
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1.4rem;
            transition: all 0.3s ease;
            box-shadow: 0 4px 15px rgba(99, 102, 241, 0.3);
        }

        .btn-filter:hover {
            background-color: #c5a059;
            color: #0d2e1f;
            transform: translateY(-2px);
        }

        /* Custom Placeholder */
        .custom-input::placeholder {
            color: #bdbdbd;
        }

/* Container utama tab */
        .nav-custom-wrapper {
            background-color: #f0f0f0; /* Warna abu-abu background sesuai gambar */
            padding: 4px;
            border-radius: 12px;
            display: inline-flex;
            width: 100%;
            /*max-width: 400px;*/
        }

        .nav-custom-wrapper .nav-link {
            flex: 1;
            text-align: center;
            color: #6c757d;
            font-family: "Rajdhani", sans-serif;
            font-style: normal;
            font-weight: 500;
            border: none;
            padding: 10px 5px;
            border-radius: 10px !important;
            transition: all 0.3s ease;
            background: transparent;
        }

        /* Styling saat tab aktif */
        .nav-custom-wrapper .nav-link.active {
            background-color: #ffffff !important;
            color: #333 !important;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); /* Shadow halus agar menonjol */
            margin: 0 4px;
        }

        .tab-content {
            margin-top: 20px;
        }
        
        .tab-content p, ol{
            font-size: 1rem !important;
            font-family: "Rajdhani", sans-serif;
            text-align: justify;
            text-justify: inter-word;
        }

        .btn-credit{
            width:100px;
            height:40px;
            font-size:12px;
            display: flex;
            white-space: nowrap;
              justify-content: center;
              align-items: center;
              background:#FFF;
              display: flex;
              justify-content: center;
              align-items: center;
        }
        .btn-credit img{
            max-width: 90%;
            max-height: 90%;
            object-fit: contain;
        }

      .nm-ws-footer{
          color: #777;
          text-decoration: none;
          border-bottom: 1px dotted #ccc;
      }

 /* Custom styling agar semakin mirip dengan gambar */
    .hari-penting .date-box {
        width: 45px;
        height: 45px;
        border: 1px solid #dee2e6;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        background: #FFF;
    }
    .hari-penting .date-box .month {
        font-size: 11px;
        color: #8c8c8c;
        text-transform: capitalize;
    }

    .hari-penting .date-box .day {
        font-size: 16px;
        font-weight: bold;
        color: #ffc107; /* Warna kuning emas sesuai gambar */
        line-height: 1;
    }

    .hari-penting .date-box .national-day {
        font-size: 18px;
        font-weight: bold;
        color: #0d6efd; /* Warna kuning emas sesuai gambar */
        line-height: 1;
    }
                                                                                    
    .hari-penting .date-box .hijr-day {
        font-size: 18px;
        font-weight: bold;
        color: #198754;  /* Warna kuning emas sesuai gambar */
        line-height: 1;
    }

    .hari-penting .list-group-item {
        border: none;
        border-bottom: 1px solid #dee2e6 !important;
        padding: 1rem 0.5rem;
        background: transparent;
    }
    .hari-penting .list-group-item:last-child {
        border-bottom: none !important;
    }

    /* .list-group .list-group-item .info-icon i{
        color: #b0b0b0;
        font-size: 1.1rem;
        cursor: pointer;
    } */

    /* Responsif Mobile */
    @media (max-width: 576px) {
        .image-container{
            width: 95%;
        }
        .table-calendar td {
            height: 70px; padding: 2px;
        }
        .date-num {
                font-size: 1.5rem;
        }
            .pasaran {
                font-size: 0.5rem;
            }
            .hijri-num {
                font-size: 0.5rem;
            }
            .pattern-square-1 {
                width: 100%;
                height: 65vw;
            }
            .heading-section {
                display: block;
            }
            .heading-section .heading {
                font-size: 1.625rem;
            }
        }
