{% extends "base.html" %}
{% block content %}
<section class="container image-container" style="margin-top:100px;" >
    <!-- header calendar -->
    <h5 class="text-center mt-4 mb-4 date-num">{{ bulan }}</h5>
          <div class="d-flex justify-content-around align-items-center                             " style="font-family: 'Rajdhani', sans-serif;">
       <h6 class="mb-2 text-body-secondary">
           {{ periode_hijriah[0].bulan_hijriah }} - {{ periode_hijriah[-1].bulan_hijriah }}
           {{ periode_hijriah[0].tahun_hijriah }} H
       </h6>

       <h6 class="mb-2 text-body-secondary text-end">
           {{ periode_jawa[0].bulan_tahun_jawa }} - {{ periode_jawa[-1].bulan_tahun_jawa }}
       </h6>
          </div>
    <!-- header calendar -->
    <!-- calendar -->
    <div class="table-responsive">
  <table class="table table-custom">
    <thead>
      <tr>
        <th class="sticky-col"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% set nama_hari = [
           {"umum": "Ahad",   "jawa": "Radite", "arab":"الأحد", "class": "text-danger"},
           {"umum": "Senin",  "jawa": "Soma", "arab":" الاثنين",   "class": ""},
           {"umum": "Selasa", "jawa": "Anggara", "arab":"الثلاثاء", "class": ""},
           {"umum": "Rabu",   "jawa": "Budha", "arab":"الأربعاء",  "class": ""},
           {"umum": "Kamis",  "jawa": "Respati", "arab":"الخميس", "class": ""},
           {"umum": "Jum'at", "jawa": "Sukra", "arab":"الجمعة",  "class": "text-success"},
           {"umum": "Sabtu",  "jawa": "Tumpak", "arab":"السبت", "class": ""}]
        %}
      {% for i in range(7) %}
          <tr>
            <td class="sticky-col {{ nama_hari[i].class }}" style="padding:10px 15px !important;">
                <span class="hari">{{ nama_hari[i].umum }}</span>
                <small class="hari-arab">{{ nama_hari[i].arab }}</small><br>
                <small class="hari-jawa">{{ nama_hari[i].jawa }}</small>
            </td>

              {% for d in data[i] %}
            <td class="calendar-cell {% if i == 0 %}text-danger{% endif %}{% if i == 5 %}text-success {% endif %}{% if d and d.is_today %} today{% endif %}"
                {% if d %} data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" data-tgl="{{ d.tanggal_id }}"{% endif %}>
                <!-- elemen baru -->
                {% if d %}
                <div class="d-flex justify-content-around align-items-center" >
                   <span class="pasaran">{{ d.tgl_jawa }}</span>
                   <span class="hijri-num">{{ d.tgl_hijriah }}</span>
                </div>
                   <span class="date-num text-teal">{{ d.tgl }}</span>
                   <span class="pasaran">{{ d.pasaran.split()[-1] }}</span>
                   <span class="pasaran">{{ d.sadwara }}</span>
                {% endif %}
                <!-- elemen baru -->
            </td>
              {% endfor %}

          </tr>
        {% endfor %}
      </tbody>
      <tfooter>
          <tr>
              <td class="sticky-col hari">
                  <small class="hari-jawa">Wuku</small>
              </td>
<!--              {% for col in range(6) %}-->
              {% if wuku[col] %}
              {% for seg in wuku[col] %}
              <td class="calendar-cell text-center" {% if seg %} data-bs-toggle="offcanvas" data-bs-target="#offcanvasWuku" data-index="{{ seg.wuku_index }}" data-bs-trigger="hover focus"
    data-bs-content="Klik detail informasi untuk wuku {{ seg.wuku }}"{% endif %}>
                 <span class="pasaran">{{ seg.wuku }}</span>
                  <small class="pasaran">({{ seg.awal }}-{{ seg.akhir }})</small>
              </td>
              {% endfor %}
              {% endif %}
<!--              {% endfor %}-->
          </tr>
          <tr>
              <td class="sticky-col hari">
                  <small class="hari-jawa">Candranipun</small>
              </td>
              <td class="calendar-cell" colspan="6">
                  <small class="aksara" style="text-align: left; margin-left: 5px;">{{ candranipun[0].candranipun_aksara }}</small><br>
                  <small class="pasaran" style="text-align: left; margin-left: 5px;">{{ candranipun[0].candranipun_latin }}</small>
              </td>
          </tr>
      </tfooter>
  </table>
</div>
    <!-- calendar -->
    <p class="pasaran">Kalender ini mengadopsi Kalender Karaton Dalem Ngayogkarta Hadiningrat dan Lembaga Falakiyah Nahdlatul Ulama</p>
</section>

<!-- detail -->
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" style="height:90%;">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTitle">Tanggal</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body small">
    <ul class="list-group list-group-flush">

      <li class="list-group-item d-flex justify-content-between">
        Pasaran
          <div class="text-end">
            <span id="oc-pasaran-1"></span><br>
            <span id="oc-pasaran-2"></span>
          </div>
      </li>

      <li class="list-group-item d-flex justify-content-between">
        Hijriah
        <div>
          <span id="oc-hijriah"></span>
            <a href="/kalenderhijriah">
                <i class="fi fi-br-arrow-up-right-from-square"></i>
            </a>
        </div>
      </li>

      <li class="list-group-item d-flex justify-content-between">
        Jawa
        <div>
          <span id="oc-jawa"></span>
            <a href="/kalenderjawa">
                <i class="fi fi-br-arrow-up-right-from-square"></i>
            </a>
        </div>
      </li>

    </ul>

<!-- detail -->
</div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasWuku" style="height:90%;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTitle_wuku"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card" style="width:300px">
          <img class="card-img-top" id="preview"  src="" alt="Card image">
          <div class="card-body">
              <small style="font-size: xx-small;">Resource: https://www.enkosa.com/penangagalan</small>
          </div>
        </div>
        <div style="text-align: justify; text-justify: inter-word;" id="interpretasi"></div>
    </div>
</div>

<script>
function formatTanggal(dateString) {
    // Memisahkan string berdasarkan tanda "-"
    var parts = dateString.split("-");

    // Pastikan ada 3 bagian (tahun, bulan, hari)
    if (parts.length !== 3) return dateString;

    var year = parts[0];
    // Menambahkan angka "0" di depan jika bulan/hari hanya 1 digit
    var month = parts[1].padStart(2, '0');
    var day = parts[2].padStart(2, '0');

    return year + "-" + month + "-" + day;
}

// Menginisialisasi semua elemen yang memiliki atribut data-bs-toggle="offcanvas"
// agar juga memunculkan popover saat hover
const calendarCells = document.querySelectorAll('.calendar-cell');

calendarCells.forEach(el => {
  // 1. Inisialisasi Popover
  const popover = new bootstrap.Popover(el, {
    trigger: 'hover',
    placement: 'top',
    container: 'body'
  });

  // 2. Paksa tutup saat diklik
  el.addEventListener('click', () => {
    popover.hide();
  });
});
    
$(document).on('click', 'td[data-tgl]', function () {
    let tanggal = $(this).attr('data-tgl');

    console.log('tanggal:', tanggal);

    $.get('/detail-kalender', { tanggal: tanggal }, function(res){
        $('#offcanvasTitle').html(res.masehi);
        $('#oc-jawa').html(res.jawa);
        $('#oc-hijriah').text(res.hijriah);
        $('#oc-pasaran-1').text(res.pasaran_jawa);
        $('#oc-pasaran-2').text(res.pasaran_caka);
        $('a[href="/kalenderhijriah"]').attr('href', function(i, val) {
            return val + '?tanggal=' + formatTanggal(tanggal);
        });
        $('a[href="/kalenderjawa"]').attr('href', function(i, val) {
            return val + '?tanggal=' + formatTanggal(tanggal);
        });
    });
});

$(document).on('click', 'td[data-tgl]', function () {
    let tanggal = $(this).attr('data-tgl');

    console.log('tanggal:', tanggal);

    $.get('/detail-kalender', { tanggal: tanggal }, function(res){
        $('#offcanvasTitle').html(res.masehi);
        $('#oc-jawa').html(res.jawa);
        $('#oc-hijriah').text(res.hijriah);
        $('#oc-pasaran-1').text(res.pasaran_jawa);
        $('#oc-pasaran-2').text(res.pasaran_caka);
        $('a[href="/kalenderhijriah"]').attr('href', function(i, val) {
            return val + '?tanggal=' + formatTanggal(tanggal);
        });
        $('a[href="/kalenderjawa"]').attr('href', function(i, val) {
            return val + '?tanggal=' + tanggal;
        });
    });
});

$(document).on('click', 'td[data-index]', function () {
    let tanggal = $(this).attr('data-index');
    // console.log('tanggal:', tanggal);
    $.get('/detail-wuku', { wuku_index: tanggal }, function(res){
        $('#offcanvasTitle_wuku').html("Wuku " + res.Wuku);
        $("#preview").attr("src", res.ilustrasi);
        $('#interpretasi').text(res.interpretasi);
        // console.log('interpetasi:', res.interpretasi);
    });

});
</script>
{% endblock %}
