{% extends "base.html" %}
{% block content %}
<div class="pattern-square-1"></div>
<section class="container" style="margin-top:100px;" >
    <div class="heading-section">
         <div class="txt">
            <p class="subheading section-subheading aksara">ꦥꦤꦁꦒꦭꦤ꧀ꦗꦮ</p>
            <h2 class="heading section-heading">Kalender Jawa Sultan Agungan</h2>
         </div>
    </div>
    <section class="container image-container">
        <!-- pencarian -->
                <div class="search-container">
                    <form method="get" action="{{ url_for('kalenderjawa') }}">
                    <div class="custom-search-group">

                        <div class="search-input-wrapper">
                            <i class="fi fi-br-calendar-day"></i>
                            <input type="date" name="tanggal" value="{{ tanggal.strftime('%Y-%m-%d') if tanggal else '' }}" id="myDateInput" class="form-control custom-input" placeholder="cari tanggal...">
                        </div>

                        <button class="btn btn-filter" type="submit">
                            <i class="fi fi-br-search"></i>
                        </button>
                    </div>
                    </form>
                </div>
                <!-- pencarian -->
        <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center py-3">

                            <span class="text-secondary fw-medium">Hari Pasaran
                                <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="1">
                                <i class="fi fi-br-info"></i></a>
                            </span>

                        <div class="d-flex flex-column align-items-end mb-2 text-muted fw-bold">
                             <span>{{ data.hari_jawa }}</span>
                             <span>{{ data.hari_caka }}</span>
                         </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                        <span class="text-secondary fw-medium">Tanggal Masehi</span>
                        <span class="fw-bold text-dark">{{ masehi }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                        <span class="text-secondary fw-medium">Tanggal Jawa</span>
                        <span class="fw-bold text-success text-end">{{ data.tanggal_jawa }}</span>
                    </li>
                    <li class="list-group-item p-3 border-light">
                    <div class="row g-3">
                        <div class="col-6 border-end">

                                <small class="text-muted d-block small">Wuku
                                    <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="4">
                                    <i class="fi fi-br-info"></i>
                                    </a>
                                </small>

                            <span class="fw-bold">{{ data.wuku }}</span>
                            <a href="" class="btn-wuku" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWuku" aria-controls="offcanvasBottom" data-id="{{ data.wuku_index }}"><i class="fi fi-br-arrow-up-right-from-square"></i></a>
                        </div>
                        <div class="col-6 ps-3">
                               <small class="text-muted d-block small"> Sadwårå/Paringkêlan
                                   <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="5">
                                   <i class="fi fi-br-info"></i>
                                   </a>
                               </small>
                            <span class="fw-bold">{{ data.sadwara }}</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item p-3 border-light">
                    <div class="row g-3">
                        <div class="col-6 border-end">
                                <small class="text-muted d-block small">Warsa
                                    <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="3">
                                    <i class="fi fi-br-info"></i>
                                     </a>
                                </small>
                            <span class="fw-bold">{{ data.tanggal_jawa.split()[2] }}</span>
                        </div>
                        <div class="col-6 ps-3">
                                <small class="text-muted d-block small">Windu, Lambang
                                    <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="2">
                                    <i class="fi fi-br-info"></i>
                                    </a>
                                </small>
                            <span class="fw-bold">{{ data.windu }}</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item px-3 py-2 bg-light bg-opacity-50">
                    <div class="row py-2 border-bottom border-light align-items-center">
                        <div class="col-5 text-muted small">
                                <small>Pranôtômôngsô
                                    <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="6">
                                    <i class="fi fi-br-info"></i>
                                    </a>
                                </small>
                        </div>
                        <div class="col-7 small">{{ data.pranatamangsa }}</div>
                    </div>
                </li>
                <li class="list-group-item px-3 py-2 bg-light bg-opacity-50">
                        <small class="d-block mb-3"> Candranipun
                            <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="13">
                                <i class="fi fi-br-info"></i>
                            </a>
                        </small>
                    <div class="text-center">
                        <span class="aksara">{{ candranipun[0].candranipun_aksara }}</span><br>
                        <span style="font-size:11px;">{{ candranipun[0].candranipun_latin }}</span>
                    </div>
                </li>
            <li class="list-group-item p-3">
                    <div class="row g-3">
                        <div class="col-6 border-end">
                            <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="8">
                                <small class="text-muted d-block small">Haståwårå <i class="fi fi-br-info"></i></small>
                            </a>
                            <span class="fw-bold">{{ data.hastawara }}</span>
                        </div>
                        <div class="col-6 ps-3">
                            <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="7">
                                <small class="text-muted d-block small">Sångåwårå <i class="fi fi-br-info"></i></small>
                            </a>
                            <span class="fw-bold">{{ data.sangawara }}</span>
                        </div>

                    </div>
                </li>
                <li class="list-group-item p-3">
                    <div class="d-flex justify-content-between align-items-center mb-2 text-muted fw-bold small">
                        <span>Saptåwårå/Pancasuda</span>
                    </div>
                    <div class="row g-3">
                        <div class="col-6 border-end">
                            <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="10">
                                <small class="text-muted d-block small">Saptåwårå <i class="fi fi-br-info"></i></small>

                            </a>
                          <span class="fw-bold">{{ data.pancasuda_biasa }}</span>
                        </div>
                        <div class="col-6 ps-3">
                            <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="11">
                                <small class="text-muted d-block small">Pawukon <i class="fi fi-br-info"></i></small>
                            </a>
                          <span class="fw-bold">{{ data.pawukon }}</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item p-3">
                    <div class="row g-3">
                        <div class="col-6 border-end">
                            <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="9">
                                <small class="text-muted d-block small">Parerasan (çaka) <i class="fi fi-br-info"></i></small>
                            </a>
                          <span class="fw-bold">
                              {% for item in data.parerasan %}
                                    {{ item }}
                              {% endfor %}
                          </span>
                        </div>
                        <div class="col-6 ps-3">
                            <a href="" class="btn-detail" data-bs-toggle="offcanvas" data-bs-target="#kalenderjawa" aria-controls="offcanvasBottom" data-id="12">
                                <small class="text-muted d-block small">Rakam <i class="fi fi-br-info"></i></small>
                            </a>
                          <span class="fw-bold">{{ data.rakam }}</span>
                        </div>
                    </div>
                </li>
                </ul>
    </section>
</section>

<!-- penjelasan kalender jawa -->
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="kalenderjawa" aria-labelledby="offcanvasBottomLabel" style="height: 80%;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTitle">Deskripsi</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <p id="offcanvasDesc"></p>
  </div>
</div>
<!-- penjelasan kalender jawa -->

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasWuku" style="height:90%;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTitle_wuku"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card" style="width:400px">
          <img class="card-img-top" id="preview"  src="" alt="Card image">
          <div class="card-body">
              <small style="font-size: xx-small;">Resource: https://www.enkosa.com/penangagalan</small>
          </div>
        </div>
        <div id="interpretasi"></div>
    </div>
</div>

<div id="data-container" data-glosarium='{{ raw_glosarium | tojson | safe }}'></div>
<script>
$(document).ready(function() {

    // 1. Get the date from the URL (e.g., ?date=2026-04-15)
    const urlParams = new URLSearchParams(window.location.search);
    let dateValue = urlParams.get('tanggal');

    // 2. If the param is missing, generate today's date in YYYY-MM-DD format
    if (!dateValue) {
        const today = new Date();
        dateValue = today.toISOString().split('T')[0];
    }
    // 3. Set the input value
    $('#myDateInput').val(dateValue);




});



//const glosarium = {{ raw_glosarium | tojson | safe }};

$(document).ready(function() {

    $('.btn-detail').on('click', function() {
        const id = $(this).data('id');
        const glosarium = $('#data-container').data('glosarium');
        // cari data
        const item = glosarium.find(d => d.index == id);

        if (item) {
            $('#offcanvasTitle').text(item.nama);

            // kalau deskripsi HTML
            $('#offcanvasDesc').html(item.deskripsi);

            // kalau mau text biasa pakai:
            // $('#offcanvasDesc').text(item.deskripsi);
        }
    });


    $('.btn-wuku').on('click', function() {
        let tanggal = $(this).attr('data-id');
        // console.log('tanggal:', tanggal);
        $.get('/detail-wuku', { wuku_index: tanggal }, function(res){
            $('#offcanvasTitle_wuku').html("Wuku " + res.Wuku);
            $("#preview").attr("src", res.ilustrasi);
            $('#interpretasi').html(res.interpretasi);
            // console.log('interpetasi:', res.interpretasi);
        });

    });



});

</script>
{% endblock %}
