{% extends "base.html" %}
{% block content %}
<!-- header content -->
<section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Tentang</h1>
                    <div class="d-flex align-items-center gap-2">
                        <h2 class="aksara">ꦧꦧꦒꦤ꧀</h2> |
                        <h2 class="hijaiyah">تنتڠ</h2>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="container image-container">
        <div class="row">
            <div class="col-12">
            <div class="main-image">
                <!-- disclaimer -->
    <header class="nm-block-head">
            <h3 class="nm-block-title">Pasal Sanggahan (Disclaimer)</h3>
         </header>
         <p>
             Perhitungan kalender Jawa dan Hijriah dalam aplikasi ini didasarkan pada sumber rujukan / referensi otoritatif dan algoritma yang berlaku umum. Terjadinya  potensi perbedaan metode perhitungan (hisab) dan variasi penafsiran adat mungkin saja terjadi. Kami menyarankan pengguna untuk menggunakan data ini sebagai referensi tambahan dalam memahami siklus waktu dan tradisi.
         </p>
    <!-- disclaimer -->
            </div>
            </div>
        </div>

        <div class="row content-section">
            <div class="col-lg-12">

<!-- referensi -->
    <header class="nm-block-head mt-3">
            <h3 class="nm-block-title">Referensi</h3>
         </header>
         <p style="font-size:0.8rem; font-weight:300;">
             Penghitungan kalender berdasarkan dataset hasil kompilasi dan kurasi dari beberapa sumber diantaranya:
         </p>
        <div class="container my-3">
  <div class="row row-cols-4 row-cols-sm-4 row-cols-md-4 g-3 justify-content-center justify-content-md-end align-items-center">

    <div class="col d-flex justify-content-center">
        <a href="https://www.kratonjogja.id/ragam/21-kalender-jawa-sultan-agungan/" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button" style="background:#103222;" >
             <img src="https://www.kratonjogja.id/assets/img/logo-keraton-2.png">
        </a>
    </div>

    <div class="col d-flex justify-content-center">
      <a href="https://bimasislam.kemenag.go.id/web/jadwalshalat" target="_blank" class="btn  border rounded btn-credit" tabindex="-1" role="button">
             <img src="https://lh3.googleusercontent.com/d/1Ur1kYFxi8rfwQeATyo7BX5AsFvuv3f4-=w800?authuser=1">
      </a>
    </div>

    <div class="col d-flex justify-content-center">
     <a href="https://khgt.muhammadiyah.or.id/" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button">
      <img src="https://khgt.muhammadiyah.or.id/assets/front-office/khgt/logos/mtt.svg">
     </a>
    </div>

    <div class="col d-flex justify-content-center">
        <a href="" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button">
             <img src="https://lh3.googleusercontent.com/d/1qUvem0jq3dbqKA5ThNCuY_3Xq9KGAgX8=w800?authuser=1">
        </a>
   </div>

   <div class="col d-flex justify-content-center">
        <a href="https://www.bmkg.go.id/tanda-waktu/almanak" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button"><img src="https://www.bmkg.go.id/images/profil/logo-bmkg.png">
      </a>
   </div>

    <div class="col d-flex justify-content-center">
        <!-- Default dropup button -->
        <div class="btn-group dropup">
          <button type="button" class="btn border rounded btn-credit dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://lh3.googleusercontent.com/d/1tK5oXrXecoVni5htjlX6WeqW-dXumrnZ=w800?authuser=1">
          </button>
          <ul class="dropdown-menu" style="width: 300px;"> <li>
    <a class="dropdown-item" href="https://eprints.walisongo.ac.id/id/eprint/20058/"
       style="font-size:0.5rem; font-weight:300; white-space: normal; word-wrap: break-word;" target="_blank">
       Marhamah, Siti (2022) Kalender Jawa Islam Sultan Agungan di Kesultanan Yogyakarta. Masters thesis, Universitas Islam Negeri Walisongo Semarang.
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="https://eprints.walisongo.ac.id/id/eprint/3854/"
       style="font-size:0.5rem; font-weight:300; white-space: normal; word-wrap: break-word;" target="_blank">
       Fatmawati, Eli (2014) Makna mitologi Ahad Wage di Desa Jragung Kecamatan Karangawen Kabupaten Demak. Undergraduate (S1) thesis, UIN Walisongo.
    </a>
  </li>
</ul>
        </div>
    </div>

    <div class="col d-flex justify-content-center">
        <a href="https://ki-demang.com/almanak/" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button"><img src="https://lh3.googleusercontent.com/d/18yO_tWgetSzusBUv9jwabuhx6s8F6Zkm=w800?authuser=1">
        </a>
    </div>

    <div class="col d-flex justify-content-center">
      <a href="https://www.walisongo.co.id" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button"><img src="https://i0.wp.com/www.walisongo.co.id/wp-content/uploads/2019/12/logo-walisongo-1.png"></a>
    </div>

    <div class="col d-flex justify-content-center">
      <a href="https://dictionary.basabali.org/Lontar_Parerasan_%26_Panca_Suda" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button"><img src="https://dictionary.basabali.org/w/newdesign/img/logo_bbw.webp"></a>
    </div>

  </div>
</div>
    <!-- referensi -->

<header class="nm-block-head">
   <h3 class="nm-block-title">Sumber gambar dan elemen</h3>
</header>
<div class="row row-cols-4 row-cols-sm-4 row-cols-md-4 g-3 justify-content-center justify-content-md-end align-items-center">

    <div class="col d-flex justify-content-center">
        <a href="https://www.kratonjogja.id" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button" style="background:#103222;" >
             <img src="https://www.kratonjogja.id/assets/img/logo-keraton-2.png">
        </a>
    </div>
    <div class="col d-flex justify-content-center">
        <a href="https://muhammadiyah.or.id/brand-guideline-muhammadiyah/" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button" style="background: linear-gradient(90deg, #0e2e75 0%, #009c48 100%);" >
             <img src="https://muhammadiyah.or.id/wp-content/uploads/2025/12/Logo-Muhammadiyah.png">
        </a>
    </div>
    <div class="col d-flex justify-content-center">
        <a href="https://gemini.google.com/app" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button">
             <img src="https://www.gstatic.com/lamda/images/gemini_sparkle_aurora_33f86dc0c0257da337c63.svg">
        </a>
    </div>
    <div class="col d-flex justify-content-center">
        <a href="https://www.flaticon.com/" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button" style="background-color: #0a152f">
             <img src="https://media.flaticon.com/dist/min/img/logos/flaticon-color-negative.svg">
        </a>
    </div>
    <div class="col d-flex justify-content-center">
        <a href="https://id.pinterest.com/" target="_blank" class="btn border rounded btn-credit" tabindex="-1" role="button">
             <img src="https://s.pinimg.com/webapp/favicon_48x48-ca576772.png">
        </a>
    </div>

</div>
          </div>
        </div>
    </section>
<!-- header content -->
  <!-- kalender -->
{% endblock %}